<p-panel header="Profile">
  <div class="grid flex justify-content-center">
    <p-card>
      <div class="p-4">
        <div class="flex" style="width: 40vw;">
          <img
            src="assets/user-avatar.png"
            class="border-circle mr-4 shadow-4"
            alt="Profile picture"
          />
          <div>
              <h3 class="flex">{{ authService.getUsername() }}</h3>
          </div>
        </div>
      </div>

      <div class="row" *ngIf="profileJson">
        <pre
          class="shadow-1 p-2"
        ><code class="json">{{profileJson}}</code></pre>
      </div>
    </p-card>
  </div>
</p-panel>
