<p-panel header="Stats">
  <div *ngIf="loading else spinner" class="col-12 md:px-6 lg:px-8">
    <div class="grid">
      <p-skeleton height="6.7rem" class="col-12 md:col-4 lg:col-4"></p-skeleton>
      <p-skeleton height="6.7rem" class="col-12 md:col-4 lg:col-4"></p-skeleton>
      <p-skeleton height="6.7rem" class="col-12 md:col-4 lg:col-4"></p-skeleton>
    </div>
  </div>

  <ng-template #spinner>
    <div #pnl class="col-12 md:px-6 lg:px-8">
      <div *ngIf="stats">
        <div class="grid">
            <p-card class="col-12 md:col-4 lg:col-4 transition-color transition-duration-500 border-round" [style.background-color]="styleMutant">
              <div class="flex justify-content-between mb-3">
                  <div>
                      <span class="block text-500 font-medium mb-3">Mutants</span>
                      <div class="text-900 font-medium text-xl">{{stats.countMutantDna | number}}</div>
                  </div>
                  <div class="flex align-items-center justify-content-center bg-orange-100 border-round" style="width:2.5rem;height:2.5rem">
                      <i class="pi pi-map-marker text-orange-500 text-xl"></i>
                  </div>
              </div>
            </p-card>
            <p-card class="col-12 md:col-4 lg:col-4 transition-color transition-duration-500 border-round" [style.background-color]="styleHuman">
              <div class="flex justify-content-between mb-3">
                  <div>
                      <span class="block text-500 font-medium mb-3">Humans</span>
                      <div class="text-900 font-medium text-xl">{{stats.countHumanDna | number}}</div>
                  </div>
                  <div class="flex align-items-center justify-content-center bg-blue-100 border-round" style="width:2.5rem;height:2.5rem">
                      <i class="pi pi-user text-blue-500 text-xl"></i>
                  </div>
              </div>
            </p-card>
            <p-card class="col-12 md:col-4 lg:col-4 transition-color transition-duration-500 border-round" [style.background-color]="styleRatio">
              <div class="flex justify-content-between mb-3">
                  <div>
                      <span class="block text-500 font-medium mb-3">Ratio</span>
                      <div class="text-900 font-medium text-xl">{{stats.ratio | number}} %</div>
                  </div>
                  <div class="flex align-items-center justify-content-center bg-cyan-100 border-round" style="width:2.5rem;height:2.5rem">
                      <i class="pi pi-percentage text-cyan-500 text-xl"></i>
                  </div>
              </div>
            </p-card>
        </div>
      </div>
    </div>
  </ng-template>
</p-panel>
