<div *ngIf="{ isAuthenticated: authService.isAuthenticated$ | async, countUnread: countUnread$ | async} as observables">
    <div *ngIf="observables.isAuthenticated else notAuthenticated">
        <div *ngIf="observables.countUnread && observables.countUnread > 0 else empty">
            <i class="pi pi-bell mr-4 cursor-pointer" pBadge severity="info" style="font-size: 1.5rem;" [value]="observables.countUnread.toString()" (click)="togglePanel($event)"></i>
        </div>
    </div>
</div>

 <ng-template #notAuthenticated>
    <i class="pi pi-bell mr-4" style="font-size: 1.5rem;"></i>
 </ng-template>

<ng-template #empty>
    <i class="pi pi-bell mr-4" style="font-size: 1.5rem;" (click)="togglePanel($event)"></i>
</ng-template>

<ng-template #notificationsRef>
    <div *ngIf="notifications | async as notifications else loading">
        <p-dataView [value]="notifications" [paginator]="true" [rows]="13" [alwaysShowPaginator]="false">
            <ng-template pTemplate="header">Notifications</ng-template>
            <ng-template let-notification pTemplate="listItem">
                <div class="block p-2 cursor-pointer hover:surface-100" (click)="onRowSelect(notification)" style="width: 100%; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;" [ngStyle]="{'font-weight': notification.read ? 'lighter' : 'bolder'}">
                    <i class="pi pi-map-marker text-orange-500 text-xl"></i>
                    {{notification.message}}
                </div>
            </ng-template>
        </p-dataView>
    </div>
    <ng-template #loading>
        <p-progressSpinner class="flex align-items-center" [style]="{width: '44px', height: '44px'}"></p-progressSpinner>
    </ng-template>
</ng-template>

<p-overlayPanel class="hidden lg:block" #opLg [style]="{width: '45vw'}">
    <ng-template pTemplate>
        <ng-template [ngTemplateOutlet]="notificationsRef"></ng-template>
    </ng-template>
</p-overlayPanel>

<p-overlayPanel class="block lg:hidden" #opSm [style]="{width: '100vw'}">
    <ng-template pTemplate>
        <ng-template [ngTemplateOutlet]="notificationsRef"></ng-template>
    </ng-template>
</p-overlayPanel>
