<div *ngIf="countUnread$ | async as count else empty">
    <div *ngIf="count > 0">
        <i class="pi pi-bell mr-4 cursor-pointer" pBadge severity="info" style="font-size: 1.5rem;" [value]="count.toString()" (click)="togglePanel($event)"></i>
    </div>
</div>

<ng-template #empty>
    <i class="pi pi-bell mr-4 cursor-pointer" style="font-size: 1.5rem;" (click)="togglePanel($event)"></i>
</ng-template>

<ng-template #notificationsRef>
    <div *ngIf="notifications | async as notifications">
        <p-table [value]="notifications" selectionMode="single" [(selection)]="selectedNotification" styleClass="p-datatable-sm"
            (onRowSelect)="onRowSelect($event)" [paginator]="notifications.length > 20" [rows]="20" responsiveLayout="scroll">
            <ng-template pTemplate="header">
                <tr>
                    <th>Type</th>
                    <th pSortableColumn="title">Title<p-sortIcon field="title"></p-sortIcon></th>
                    <th pSortableColumn="message">Message <p-sortIcon field="message"></p-sortIcon></th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData let-notification>
                <tr [pSelectableRow]="rowData" [ngStyle]="{'font-weight': notification.read ? 'lighter' : 'bolder'}">
                    <td style="text-align: center"><i class="pi pi-map-marker text-orange-500 text-xl"></i></td>
                    <td>{{notification.title}}</td>
                    <td>{{notification.message}}</td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</ng-template>

<p-overlayPanel class="hidden lg:block" #opLg [style]="{width: '45vw'}">
    <ng-template pTemplate>
        <ng-template [ngTemplateOutlet]="notificationsRef"></ng-template>
    </ng-template>
</p-overlayPanel>

<p-overlayPanel class="block lg:hidden" #opSm [style]="{width: '100vw'}">
    <ng-template pTemplate>
        <ng-template [ngTemplateOutlet]="notificationsRef"></ng-template>
    </ng-template>
</p-overlayPanel>    
