<ng-container *ngIf="auth.isAuthenticated$ | async; else checking">
  <p-menu #menu [popup]="true" [model]="items"></p-menu>
  <img
    *ngIf="user$ | async as user"
    [src]="user.picture"
    (click)="menu.toggle($event)"
    alt="Profile picture"
    class="border-circle shadow-4"
    style="width: 44px;"
  />
</ng-container>

<ng-template #checking>
  <button *ngIf="(auth.isAuthenticated$ | async) === false; else spinner" (click)="auth.loginWithRedirect()" pButton type="button" class="p-button-raised p-button-rounded p-button-secondary" icon="pi pi-sign-in" pTooltip="Log in" tooltipPosition="bottom"></button>
  <ng-template #spinner>
    <p-progressSpinner [style]="{width: '44px', height: '44px'}"></p-progressSpinner>
  </ng-template>  
</ng-template>
